
.background {
    background: linear-gradient(to left, #69bd65, #22ab72);    
    justify-content: center;
    height: 100vh; 
    .logo {
        justify-content: center;
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        img {
            max-width: 200px;
        }
    }
    .signup {
        display: flex;
        justify-content: center;
        mat-card {
            width: 370px;
            height: 590px;
            margin-bottom:30px ;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

        }
    }
}

mat-card-title{
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 7%;
}
.subtitle{
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 5%;
    margin-left: 7%;
}
.title{
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 5%;
}
.top{
    margin: 7%;
}
.left{
    padding-top: 27px;
}
.right{
    padding-top: 32px;

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pad-top{
    padding-top: 168px;
}
  .butt{
    background-color: white;
    border-radius: 30px;
    width: 100%;
    height: 50px;
    color: #00AA75;
    font-weight: 600;
    font-family: 'Montserrat';
  }
  .example-full-width {
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: 7%;
    font-size: 12px;
    font-weight: 600;    
    font-family: 'Montserrat';
  }