<div class="background">
    <div style="background: linear-gradient(to left, #69bd65, #22ab72);">
        <div class="container">
            <div class="logo">
                <img src="../../../assets/product-details/Group 25999.svg">
            </div>
            <div class="signup">
                <mat-card>
                    <div class="left">
                        <mat-card-title class="title">Forgot Password</mat-card-title>
                        <mat-card-title>Don't Worry!</mat-card-title>
                        <mat-card-title class="subtitle">Please enter the email address registered with us, we will send you a 6-digit verification code.</mat-card-title>
                        <div class="example-container">
                            <mat-form-field class="example-full-width">
                                <mat-label>Enter Email Address</mat-label>
                                <input matInput placeholder="pat@example.com">
                                <!-- <mat-error *ngIf="firstName.invalid">{{getnameErrorMessage()}}</mat-error>[formControl]="firstName" -->
                            </mat-form-field>
                        </div>
                        <div *ngFor="let btn_info of btn_infos" class="pl-5 pr-5 pad-top">
                            <app-buttons-btn  [btn_Data] = "btn_info" [routerLink]="['/reset-email']"></app-buttons-btn>
                        </div>
                        <div class="pl-5 pr-5 pt-3">
                            <button mat-button class="butt"  routerLink="/">BACK TO LOGIN</button>
                        </div>                
                    </div>
                </mat-card>
            </div>
        </div>
    </div>    
</div>