<div>
    <div class="stu-brd">
        <div class="pt-5" fxLayoutAlign="center center">
            <div class="bord" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx" style="width: 80px; height: 80px;">
                    <mat-icon class="sub-icon">check</mat-icon>
                </div>
            </div>
        </div>
        <div class="pt-4">
            <div class="pt-2">
                <span class="title">Review submitted - Thank you!</span>
            </div>
        </div>
        <div class="pt-4">
            <span class="subtitle">We are processing your review.<br>
                This might take several days, so we appreciate your
                patience. We will email you when this is complete.</span>
        </div>
        <div class="pt-5">
            <div class="pt-3">
                <button mat-button class="btn btn-colr" routerLink="/orders" mat-dialog-close>CLOSE</button>
            </div>
        </div>
    </div>
</div>