<mat-toolbar class="headers">
    
</mat-toolbar>
<mat-toolbar class="header">
    <div class="container contain">
        <span class="list">Shipping & Delivery</span>
        <span class="list">Return Policy</span>
        <span class="list">Privacy Policy</span>
        <span class="list">Contact Us</span>
        <span class="list">FAQ</span>
    </div>
</mat-toolbar>
<mat-toolbar class="footer">
    <div class="center">
        <span style="font-size: 12px; font-family: 'Montserrat'; font-weight: 600; color: #FFFFFF;">© 2021 Frizzmo Inc. All rights reserved.</span>
    </div>
</mat-toolbar>
