.background {
    background: linear-gradient(to left, #69bd65, #22ab72);    
    justify-content: center;
    height: 100vh; 
    .logo {
        justify-content: center;
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        img {
            max-width: 200px;
        }
    }
    .signup {
        display: flex;
        justify-content: center;
        .card {
            width: 370px;
            height: 590px;
            margin-bottom:30px ;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

        }
    }
}

mat-card-title{
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 7%;
}
.subtitle{
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 5%;
    margin-left: 7%;
}
.title{
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 8px;
}
.signup{
    display: flex;
    justify-content: center;
}
.top{
    margin: 7%;
}
.left{
    padding-top: 30px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.but{
    background: linear-gradient(to left, rgb(109, 196, 111), rgb(34,171,114));
    border-radius: 30px;
    width: 60%;
    height: 50px;
    color: white;
    margin-top: 10%;
    margin-bottom: 24%;
    font-weight: 700;
    font-family: 'Montserrat';
  }
  .example-full-width {
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: 6%;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat';
  }