.refer-card{
    height: 100px;
    box-shadow: 0px 0px 1px 0px #707070;
    cursor: pointer;
}
.right_icon{
    color: #00AA75;
}
.title{
    font-size: 20;
    font-family: "Montserrat";
    font-weight: 600;    color: #00AA75;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
