<div>
    <div class="stu-brd">
        <div class="pt-4" fxLayoutAlign="center start">
            <div class="bord">
                <div>
                    <img class="img-rwd" src="../../../../../../assets/product-details/josephpic.png">
                </div>
                <div fxLayoutAlign="end end" class="prd">
                    <div class="brd-icon">
                        <img class="stu-icon-logo" src="../../../../../../assets/std_profile_icon.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-2">
            <div class="pt-2">
                <span class="title">Joseph</span>
            </div>
            <div class="pt-2 pb-1">
                <span class="subtitle">Standard -3 A</span>
            </div>
        </div>
        <div class="pt-4">
            <mat-form-field class="example-full-width">
                <mat-label>Enter frizzmo bucks here</mat-label>
                <input matInput placeholder="Enter Bucks" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>What good decision/ behaviour are you rewarding?</mat-label>
                <input matInput placeholder="Enter Behaviour" >
            </mat-form-field>
        </div>
        <div class="pt-4">
            <div>
                <button mat-button class="btn btn-colrs">SEND REWARD</button>
            </div>
            <div class="pt-3">
                <button mat-button class="btn btn-colr" mat-dialog-close>CLOSE</button>
            </div>
        </div>
    </div>
</div>