<app-main-header></app-main-header>
<div class="background">
    <div class="container">
        <app-my-accont-header fxHide fxShow.lt-sm></app-my-accont-header>
        <div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="account-mob">
                <div class="account-list">
                    <app-side-menu></app-side-menu>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
                <div>
                    <div class="pt-5 pb-2">
                        <div class="pb-4">
                            <span class="order-title">Saved Cards</span>
                        </div>
                        <div>
                            <span class="order-subtitle">View and delete your payment details</span>
                        </div>
                    </div>
                    <div class="bord pt-2">
                    </div>                    
                    <div class="pt-2 pb-5">
                        <div fxLayout="row wrap">
                            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                                <div class="p-2">
                                    <mat-card class="book-address center">
                                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
                                            <div>
                                                <mat-icon class="book-addrs-icon" (click)="openDialog()">add</mat-icon>
                                            </div>
                                            <div>
                                                <span class="book-addrs-title" (click)="openDialog()">Add New Card</span>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
    
                            <!-- <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                                <div class="p-2">
                                    <mat-card class="book-address">
                                        <div class="p-3">
                                            <div class="pb-5">
                                                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="gappx">
                                                    <div class="card-bord">
                                                        <img class="card-img" src="../../../../assets/Group 18177.png">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="pb-5 pt-0">
                                                <div fxLayout="row" fxLayoutAlign="center flex-start" fxLayoutGap="gappx">
                                                    <div>
                                                        <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                        <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                        <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                        <mat-icon class="dot">fiber_manual_record</mat-icon>

                                                        <mat-icon fxHide fxShow.gt-sm class="dot">fiber_manual_record</mat-icon>
                                                        <mat-icon fxHide fxShow.gt-sm class="dot">fiber_manual_record</mat-icon>
                                                        <mat-icon fxHide fxShow.gt-sm class="dot">fiber_manual_record</mat-icon>
                                                        <mat-icon class="dot">fiber_manual_record</mat-icon>

                                                        <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                        <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                        <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                    </div>
                                                    <div>
                                                        <span class="order-subtitle">4545</span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="pb-5 pt-1">
                                                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
                                                    <div>
                                                        <div>
                                                            <span class="book-addrs-font font-color">Expiry Date</span>
                                                        </div>
                                                        <div>
                                                            <span class="book-addrs-font">01/ 2025</span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <a href=""  class="book-addrs-font">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div> -->
                            <div div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                                <div class="p-2">
                                    <mat-card class="book-address p-3" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="gappx">
                                        <div fxLayout="row" fxLayoutAlign="end start">
                                            <div class="crd-bord">
                                                <img class="card-img" src="../../../../assets/Group 18177.png">
                                            </div>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="center start">
                                            <div>
                                                <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                <mat-icon class="dot" fxHide.xs fxShow.lg fxShow.sm fxHide.md fxShow.xl>fiber_manual_record</mat-icon>
                                                <mat-icon class="dot" fxHide.xs fxShow.lg fxShow.sm fxHide.md fxShow.xl>fiber_manual_record</mat-icon>
                                                <mat-icon class="dot" fxHide.xs fxShow.lg fxShow.sm fxHide.md fxShow.xl>fiber_manual_record</mat-icon>
                                                <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                <mat-icon class="dot">fiber_manual_record</mat-icon>
                                                <span class="order-subtitle">4545</span>
                                            </div>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="space-between center">
                                            <div>
                                                <div>
                                                    <span class="book-addrs-font font-color">Expiry Date</span>
                                                </div>
                                                <div>
                                                    <span class="book-addrs-font">01/ 2025</span>
                                                </div>
                                            </div>

                                            <div>
                                                <a href=""  class="book-addrs-font">Delete</a>                                            </div>
                                            </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
<app-main-footer></app-main-footer>
