.like-btn{
    background: linear-gradient(to left, #69BD65, #22AB72);
    height: 40px;
    border-radius: 30px;
    box-shadow: 1px 3px 5px 0px #b3b3b3;
    color: white;
    font-weight: 600;
    font-family: "Montserrat";
    width: 85px;
}
.like-btns{
    background: linear-gradient(to left, #69BD65, #22AB72);
    height: 35px;
    border-radius: 30px;
    box-shadow: 1px 3px 5px 0px #b3b3b3;
    color: white;
    font-weight: 600;
    font-family: "Montserrat";
    font-size: 10px;
}

.auth_btn {
    background: linear-gradient(to left, #69bd65, #22ab72);
    border-radius: 30px;
    width: 100%;
    height: 50px;
    box-shadow: 1px 3px 5px 0px #b3b3b3;
    color: white;
    font-weight: 700;
    font-family: "Montserrat";
}
.details-btn{
    background: linear-gradient(to left, #69bd65, #22ab72);
    border-radius: 30px;
    width: 120px;
    height: 50px;
    box-shadow: 1px 3px 5px 0px #b3b3b3;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: "Montserrat";
}