<!-- <mat-card> -->
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"  [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Price (FB)
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                <mat-radio-button class="brand" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div class="filter-input">
                        <input matInput class="input" placeholder="Min">
                    </div>
                    <div class="filter-input">
                        <input  matInput class="input" placeholder="Max">
                    </div>
                    <div class="filter-input">
                        <button class="list-btn">Go</button>
                    </div>
                    
                </div>
            </mat-radio-group>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"  [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Brand
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-radio-group aria-label="Select an option">
                <div class="row">
                    <div class="col-6">
                        <mat-radio-button class="brand" *ngFor="let brand of brands" [value]="brand">
                            {{brand}}
                        </mat-radio-button>
                    </div>
                    <div class="col-6">
                        <mat-radio-button class="brand" *ngFor="let brandlist of brandlists" [value]="brandlist">
                            {{brandlist}}
                        </mat-radio-button>
                    </div>
                </div>
                <button mat-button class="more">Show More</button>
            </mat-radio-group>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"  [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Color
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-radio-group aria-label="Select an option">
                <div class="row">
                    <div class="col-6">
                        <mat-radio-button class="brand" *ngFor="let colorlist of colorlists" [value]="colorlist">
                            {{colorlist}}
                        </mat-radio-button>
                    </div>
                    <div class="col-6">
                        <mat-radio-button class="brand" *ngFor="let color of colors" [value]="color">
                            {{color}}
                        </mat-radio-button>
                    </div>
                </div>
                <button mat-button class="more">Show More</button>
            </mat-radio-group>
        </mat-expansion-panel>
    </mat-accordion>
<!-- </mat-card> -->