<div class="container">
    <Section class="footers">
            <div class="center">
                <div class="top">
                    <span class="title">By using this website, you understand the information being presented is provided for information purposes only and agree to our 
                        <br><b>Terms and Conditions</b>and <b>Privacy Policy.</b><br><br>
                        The Frizzmo Deposit Account is established by Central Bank of Kansas City, Member FDIC. The Frizzmo Discover Debit Card is issued by<br> 
                        Central Bank of  Kansas City pursuant to a license from Discover.  Certain fees, terms, and conditions are associated with the approval,<br> 
                        maintenance, and use of the Card. If you have any questions regarding your Deposit Account or Card, you should consult your Deposit <br>
                        Account Agreement or contact us toll-free at 1-833-3FRIZZM, 24 hours a day, 7 days a week, 365 days of the year.<br>
                    </span>
                </div>
            </div>
            <div class="center">
                <img src="../../../assets/insta.png">
                <img src="../../../assets/facebook.png">
                <img src="../../../assets/twitter.png">
                <img src="../../../assets/linkedin.png">
            </div>
            <div class="center">
                <span class="subtitle">The Frizzmo Card is issued by Central Bank of Kansas City, Member FDIC.  Pursuant to license by Discover</span>
            </div>
            <div class="center">
                <span class="subtitle">© 2021 Frizzmo Inc. All rights reserved.</span>
            </div>   
    </Section>
</div>
<mat-toolbar class="header">
    <span class="list">Shipping & Delivery</span>
    <span class="list">Return Policy</span>
    <span class="list">Privacy Policy</span>
    <span class="list">Contact Us</span>
    <span class="list">FAQ</span>
</mat-toolbar>
<mat-toolbar class="footer">
    <div class="center">
        <span style="font-size: 9px; font-family: 'Montserrat'; font-weight: 600; color: #FFFFFF;">© 2021 Frizzmo Inc. All rights reserved.</span>
    </div>
</mat-toolbar>