<div class="container">
    <div class="header">
        <span style="font-size: xx-large; font-family: Montserrat; font-weight: bold; justify-content: center; display: flex;">Your Change Matters</span><br>
        <span style="font-size: large; font-family: Montserrat; font-weight: 600; justify-content: center; display: flex; text-align: center; color: #10A975">Saving for your future doesn’t have to prevent you from <br>making a difference. Frizzmo does it all for you.</span><br>
    </div>
    <div class="row">
        <div class="main">
            <div class="center">
                <img class="parents" src="../../../assets/build.png">
            </div>
            <div class="subbuild">
                <span class="center" style="font-size: large; font-weight: bold; font-family: Montserrat;">Build Family Savings</span><br>
                <span class="center" style="font-size: 15px; font-weight: bold; font-family: Montserrat; color: rgb(27, 146, 110);">Supports Families</span><br>
                <span class="center" style="font-size: small; font-family: Montserrat; color: rgb(131,131,131);">Save for a goal<br> Plan for emergencies</span><br>
            </div>
        </div>
        <div class="mid">
            <div class="center">
                <img class="pay" src="../../../assets/card.png">
            </div>       
        </div>
        <div class="submain">
            <div class="center">
                <img class="parents" src="../../../assets/donate.png">
            </div>
            <div class="subbuild">
                <span class="center" style="font-size: large; font-weight: bold; font-family: Montserrat;">Donate to Teacher</span><br>
                <span class="center" style="font-size: 15px; font-weight: bold; font-family: Montserrat; color: rgb(27, 146, 110);">Supports Education</span><br>
                <span class="center" style="font-size: small; font-family: Montserrat; color: rgb(131,131,131);">Classroom supplies<br>Supplemental Material</span><br>
            </div>
        </div>
    </div><br>
</div>