.book-address{
    // height: 250px;
    padding-bottom: 0px;
}
.book-addrs-font{
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #191919;
}
.font-color{
    color: #B4B4B4;
}
.font-edit{
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat";
    color: #191919;
}