<div class="background">
    <div style="background: linear-gradient(to left, #69bd65, #22ab72);">
        <div class="container">
            <div class="logo">
                <img src="../../assets/product-details/Group 25999.svg">
            </div>
            <div class="signup">
                <mat-card class="card">
                    <mat-tab-group mat-align-tabs="center" animationDuration="500ms" dynamicHeight>
                        <mat-tab label="Sign Up">
                            <div class="left">
                                <mat-card-title>Please fill below details to complete sign up.</mat-card-title>
                            </div>
                            <div class="example-container">
                                <mat-form-field class="example-full-width">
                                    <mat-label>First Name</mat-label>
                                    <input matInput placeholder="First Name" [formControl]="firstName" >
                                    <mat-error *ngIf="firstName.invalid">{{getnameErrorMessage()}}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput placeholder="Last Name" [formControl]="lastName" >
                                    <mat-error *ngIf="lastName.invalid">{{getlastnameErrorMessage()}}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="Password" [formControl]="password" >
                                    <mat-error *ngIf="password.invalid">{{getpasswordErrorMessage()}}</mat-error>
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon style="color: #EAEAEA; font-size: medium;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput placeholder="Confirm Password" [formControl]="confirmpassword" >
                                    <mat-error *ngIf="confirmpassword.invalid">{{getcpasswordErrorMessage()}}</mat-error>
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon style="color: #EAEAEA; font-size: medium;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Enter Referral Code (Optional)</mat-label>
                                    <input matInput placeholder="Referral Code" [formControl]="referrial" >
                                    <mat-error *ngIf="referrial.invalid">{{getrefeErrorMessage()}}</mat-error>
                                </mat-form-field>
                                <!-- <div style="margin:20px; display: flex;">
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 11px; font-family:Montserrat; line-height: 14px; font-weight: 500; color: #000000; overflow-wrap:break-word; margin-left: 10px;">Stay up to date on the latest news, promotions, and more from Frizzmo.</label>
                                </div> -->
                                <div fxLayout="row" style="margin:18px;">
                                    <div fxLayoutAlign="center center">
                                        <mat-checkbox></mat-checkbox>
                                        <span class=" pb-1 pl-1" style="font-size: 11px; font-family:Montserrat; line-height: 14px; font-weight: 500; color: #000000; overflow-wrap:break-word; margin-left: 10px;">Stay up to date on the latest news, promotions, and more from Frizzmo.</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngFor="let btn_info of btn_infos" class="pl-5 pr-5 pt-1 pb-3">
                                <app-buttons-btn  [btn_Data] = "btn_info" [routerLink]="['/school-details']" ></app-buttons-btn>
                            </div>
                            <div class="center">
                                <span class="term">By clicking sign up you agree with <a href="#" style="color: #00AA75; text-decoration: none; font-weight: 700;">frizzmo Terms & Policy</a></span>
                            </div>
                        </mat-tab>
                        <mat-tab label="Sign In"> 
                            <div class="left">
                                <mat-card-title>Please fill out your account details below to sign in.</mat-card-title>
                            </div>
                            <div class="example-container">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Enter Email" [formControl]="inemail" >
                                    <mat-error *ngIf="inemail.invalid">{{getinemailErrorMessage()}}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="Password" [formControl]="inpassword" >
                                    <mat-error *ngIf="inpassword.invalid">{{getinpasswordErrorMessage()}}</mat-error>
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon style="color: #EAEAEA; font-size: medium;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <div class="top">
                                    <span style="font-size: 13px; font-family: 'Montserrat'; color: #00AA75; cursor: pointer; font-weight: 500;" [routerLink]="['/forgot']" routerLinkActive="router-link-active">Forgot Password?</span>
                                </div>
                            </div>
                            <div class="pl-5 pr-5" style="padding-top: 15px;">
                                <button mat-raised-button [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="but">SIGN IN</button>
                            </div>
                        </mat-tab>
                    </mat-tab-group> 
                </mat-card>
            </div>
        </div>
    </div>
</div>