.background{
    background: #fafafa;
}
.account-headtitle{
    font-size: 18px;
    font-weight: 300;
    font-family: "Montserrat";
}
.account-headsubtitle{
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat";
}
.top{
    margin-top: 10px;
}