<div class="container">
    <div class="header">
        <span style="font-size: xx-large; font-family: Montserrat; font-weight: bold; justify-content: center; display: flex;">Security you can trust!</span><br>
    </div>
    <div class="row" style="padding-top: 25px; padding-bottom: 25px;">
        <div style="width: 380px; justify-content: center; align-items: center; display: flex;">
            <div class="card" style="background: linear-gradient(to bottom right, rgb(34,171,114), rgb(209, 189, 39));">
                <div class="top">
                    <img class="icon" src="../../../assets/FDIC.png" alt="">
                </div>
                <div class="purchase">
                    <span style="font-size: 15px; font-weight: 700; color: #FFFFFF;">Your money is FDIC<br>insured through Central<br>Bank of Kansas City, up<br>to $250,000.</span>
                </div>
            </div>
        </div>
        <div style=" width: 380px; justify-content: center; align-items: center; display: flex;">
            <div class="card" style="background: linear-gradient(to bottom right,rgb(10,169,128), rgb(41,201,225));">
                <div class="top">
                    <img class="icon" src="../../../assets/shild.png" alt="">
                </div>
                <div class="purchase">
                    <span style="font-size: 15px; font-weight: 700; color: #FFFFFF;">Your account is protected<br>by bank-grade encryption<br>and authentication.</span>
                </div>
            </div>        
        </div>
        <div style="width: 380px; justify-content: center; align-items: center; display: flex;">
            <div class="card" style="background: linear-gradient(to bottom right, rgb(13,53,138),rgb(129,19,240));">
                <div class="top">
                    <img class="icon"s src="../../../assets/pay.png" alt="">
                </div>
                <div class="purchase">
                    <span style="font-size: 15px; font-weight: 700; color: #FFFFFF;">Benefit from Fraud<br>Protection and Zero-<br>Liability guarantee.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
        <span class="center" style="font-size: 18px; font-weight: bold; font-family: Montserrat;">Join for early access and get 
            <br>notified when we launch!</span><br>
        <div class="center">
            <div class="custom-search">
                <input type="text" class="custom-search-input" placeholder="Your Email Address...">
                <button class="custom-search-botton" type="submit">JOIN NOW</button>
            </div>
        </div><br>
        <span style="font-size: 13px; font-family: Montserrat; font-weight: 700; justify-content: center; display: flex; text-align: center;">Register today, and Frizzmo will donate you and 
            <br>your favorite teacher $5 when we launch.</span><br>
    </div>
</div>