.btn-done{
    background-color: #00AA75;
    color: white;
    font-family: "Montserrat";
}
.btn-notdone{
    font-family: "Montserrat";
}
.title{
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat";
}