<div fxHide fxShow.lt-sm fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx" class="item-head">
    <a role="listitem" class="list" routerLink="/orders" routerLinkActive="active" >Your Order</a>
    <a role="listitem" class="list" routerLink="/address-book" routerLinkActive="active">Address Book</a>
    <a role="listitem" class="list" routerLink="/account-details" routerLinkActive="active">Account Details</a>
    <a role="listitem" class="list" routerLink="/card" routerLinkActive="active">Saved card</a>
    <a role="listitem" class="list" routerLink="/preferences" routerLinkActive="active">Marketing Preferences</a>
    <a role="listitem" class="list" routerLink="/refer" routerLinkActive="active">Refer a Teacher</a>
</div>