
.descount {
    font-weight: 500;
    font-size: 13px;
    font-family: 'Montserrat';
    color: #B3B3B3;
  }
  .price {
    font-weight: 600;
    font-size: 13px;
    font-family: 'Montserrat';
    color: #707070;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 13px 0 15px 0!important;
    display: flex !important;
    align-items: center !important;
  }
  ::ng-deep .mat-form-field-infix{
    width: 10% !important;
  }
  .title{
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #B3B3B3;
  }
  .dtal-btn{
    width: 130px;
    height: 50px;
    border-radius: 30px;
    background: #fafafa;
    color: #B3B3B3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    border: 1px solid #EBEBEB;
    margin-left: 20px;
    box-shadow: 1px 3px 5px 0px #b3b3b3;
    .btn-icon{
        font-size: 18px;
        padding-top: 3px;
        padding-right: 10px;
    }
  }
  .dtal-btns{
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 14px;
    font-family: "Montserrat";
    box-shadow: 1px 3px 5px 0px #b3b3b3;
    font-weight: 700;
    background: linear-gradient(to left, #69bd65, #22ab72);
    color: #ffffff;
    margin-right: 20px;
    .btn-icon{
        font-size: 18px;
        padding-top: 3px;
        padding-left: 5px;
    }
  }

  @media only screen and (min-width: 960px) and (max-width: 991px){
    .dsk-res{
      display: none;
    }
  }
  @media only screen and (min-width: 330px) and (max-width: 380px){
    .descount {
      font-size: 10px;
    }
    .price {
      font-size: 10px;
    }
  }
  @media only screen and (min-width: 160px) and (max-width: 329px){
    .descount {
      font-size: 8px;
    }
    .price {
      font-size: 8px;
    }
  }
  @media only screen and (min-width: 50px) and (max-width: 959px){
    .descount {
      font-size: 8px;
    }
    .price {
      font-size: 8px;
    }
    .bord{
      border-bottom: 1px solid #d8d8d8;
    }
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }