<mat-toolbar class="border-bottom mb-4" style="background-color: #fafafa; height: 80px;">
    <!-- <div class="container">
        <div class="center">
            <div class="menu">
                <mat-icon style="color: #D8D8D8;">menu</mat-icon>
                <span style="padding-left: 10px; color: #808080;">
                    Cart
                </span>
            </div>
            <div>
                <a href="" style="color: #808080;">Cart</a>
                <a href="">Main</a>
            </div>
        </div>
    </div> -->
</mat-toolbar>