.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 700;
}
a{
    padding: 10px;
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #B3B3B3;
}
.carthead{
    background: #fafafa !important; 
    height: 80px !important;
}
@media only screen and (min-width: 50px) and (max-width: 500px){
    .carthead{
        height: 60px !important;
    }
}