<mat-card style="margin-bottom: 10px;">
    <div>
        <div class="bottoms">
            <span class="family title">Overview</span>
        </div>
        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Packer</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>{{review_Data.packer}}</span>

                </div>            
            </div>
        </div>

        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Item Weight</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>{{review_Data.item_weight}}</span>
                </div>            
            </div>
        </div>

        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Item Dimensions LxWxH</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>{{review_Data.dimensions}}</span>
                </div>            
            </div>
        </div>

        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Net Quantity</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>{{review_Data.dimensions}}</span>
                </div>            
            </div>
        </div>

        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Included Components</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>{{review_Data.included_components}}</span>
                </div>            
            </div>
        </div>

        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Number of Items</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>{{review_Data.no_of_items}}</span>
                </div>            
            </div>
        </div>

        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Generic Name</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>{{review_Data.dimensions}}</span>
                </div>            
            </div>
        </div>
    </div>
</mat-card>