<mat-card style="margin-bottom: 10px;">
    <div>
        <div class="bottoms">
            <span class="family title">Overview</span>
        </div>
        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Packer</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>BIC Cello India Pvt Ltd, C-1/702, G-1/701, G-2/702, 7th Floor, Lotus 
                        Corporate Park, W.E.Highway, Goregaon (East), Mumbai – 
                        400 063, (INDIA),<br> email - <a href="" style="font-size: 12px; color: #999999; word-break: break-all;">cello.marketing@bicworld.com</a></span>

                </div>            
            </div>
        </div>

        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Item Weight</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>400 g</span>
                </div>            
            </div>
        </div>

        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Item Dimensions LxWxH</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>40 x 30 x 40 Centimeters</span>
                </div>            
            </div>
        </div>

        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Net Quantity</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>24 U</span>
                </div>            
            </div>
        </div>

        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Included Components</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>Oil Pastel (Pack of 25), Wax Crayon Jumbo ( pack of 12), Sketch 
                        Pen (Pack of 12), Coloured Gel pens (Pack of 10), 1 Mechanical 
                        Pencil, Blue ink Gel Pen (Pack of 5), 100gramss Clay(12 strips), 
                        1 Activity Book</span>
                </div>            
            </div>
        </div>

        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Number of Items</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>25</span>
                </div>            
            </div>
        </div>

        <div fxLayout="row" class="bottom">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=41 fxFlex.lg="41" fxFlex.xl="41">
                <div>
                    <span class="family subtitle">Generic Name</span>
                </div>            
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=59 fxFlex.lg="59" fxFlex.xl="59">
                <div class="family dec">
                    <span>Art Sets</span>
                </div>            
            </div>
        </div>
    </div>
</mat-card>