.family{
    font-family: "Montserrat";
}
.title{
    font-size: 18px;
    font-weight: 700;
}
.subtitle{
    font-size: 12px;
    font-weight: 700;
}
.dec{
    font-size: 12px;
    font-weight: 700;
    color: #999999;
    word-wrap: break-word;
}
.bottom{
    margin-bottom: 40px;
} 
.bottoms{
    margin-bottom: 20px;
} 