.family{
    font-family: "Montserrat";
}
.ratebar{
    font-size: 10px;
    font-weight: 600;
}
.bar{
    width: 180px; 
    height: 20px; 
    border: 1px solid #D8D8D8; 
    border-radius: 2px;
    margin: 7px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-icon{
    color: #CCA200;
}
.title{
    font-size: 18px;
    font-weight: 700;
}
.titles{
    font-size: 12px;
    font-weight: 700;
}
.subtitle{
    color: #999999;
    font-size: 16px;
    font-weight: 700;
}
.rates{
font-size: 14px;
font-weight: 500;
}
.review{
    font-size: 14px;
    font-weight: 500;
    color: #B3B3B3;  
}
.rate{
    font-size: 12px;
    font-weight: 500;
    }
.global{
    color: #B3B3B3;
    font-size: 14px;
    font-weight: 500;
}
.bottom{
    margin-bottom: 15px;
}
.dec{
    font-size: 12px;
    color: #7D7D7D;
}
.margin{
    margin: 10px;
}
.more{
    font-size: 12px;
    font-weight: 600;
    color: #00AA75;
    text-decoration: none;
}