<div>
    <div class="stu-brd">
        <div class="pt-5">
            <div class="pt-5">
                <span class="title">Since -3A </span>
            </div>
            <div class="pt-2 pb-1">
                <span class="subtitle">Rename Class</span>
            </div>
        </div>
        <div class="pt-5">
            <mat-form-field class="example-full-width">
                <mat-label>Science 3 A</mat-label>
                <input matInput placeholder="Science 3 A" >
            </mat-form-field>
        </div>
        <div class="pt-4">
            <div>
                <button mat-button class="btn btn-colrs">Update</button>
            </div>
            <div class="pt-3">
                <button mat-button class="btn btn-colr" mat-dialog-close>CLOSE</button>
            </div>
        </div>
    </div>
</div>