<div class="container">
    <div class="row">
        <div class="main" style="width: 570px; justify-content: center; display: flex; align-items: center;" >
            <img class="parents" src="../../../assets/parents.png">
        </div>
        <div class="submain" style="width: 570px; justify-content: center; ">
            <div>
                <span class="title">Frizzmo for Parents</span>
            </div><br>
            <div>
                <span class="subtitle">Teach your kids lifelong financial skills.</span>
            </div><br>
            <div>
                <span class="dec">Parents can use Frizzmo to help teach their kids how to 
                    save, spend wisely, and give back to the community.  
                    The app gives parents total control and allows them to 
                    teach their kids responsible money management at an 
                    early age.  Parents also get to give back to the teachers 
                    that support their kids through the Roundup feature on 
                    purchases.</span>
            </div>
            <div>
                <button mat-raised-button [routerLink]="['/auth']" routerLinkActive="router-link-active" >REGISTER</button>
            </div>
        </div>
    </div>
</div>