<mat-toolbar style="background: #fafafa;">
    <div class="container">
        <div fxLayout="row">
            <div class="center">
                <mat-icon>star</mat-icon>
            </div>

            <div class="center">
                <span class="title family">Classmate Longbook Regular Notebook</span>
            </div>

            <div class="center">
                <div class="rate">
                    <span class="rates family">4.5</span>
                </div>
            </div>

            <div class="center">
                <span class="title family">Classmate Longbook Regular Notebook</span>
            </div>

            <div class="center">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </div>

            <div class="center">
                <span class="title family">Pens & Notebooks</span>
            </div>

            <div class="center">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </div>

            <div class="center">
                <span class="title family">Stationary</span>
            </div>

            <div class="center">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </div>

            <div class="center">
                <span class="title family">Main</span>
            </div>
        </div>
    </div>
  </mat-toolbar>