.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.rate{
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    width: 30px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #F5F5F5;
}
.rates{
        font-size: 7px;
        font-weight: 700;
        color: #B3B3B3;
}
.family{
    font-family: "Montserrat";
}
.title{
    font-size: 12px;
    font-weight: 500;
    color: #808080;
}
.titles{
    font-size: 10px;
    font-weight: 500;
    color: #808080;
}
.subtitle{
    font-size: 10px;
    font-weight: 500;
    color: #B3B3B3;
}
mat-icon{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D8D8D8;
}

mat-toolbar{
    height: 100px;
}
@media only screen and (min-width: 190px) and (max-width: 991px){
    mat-toolbar{
        display: none;
    }
}