<div class="background">
    <div style="background: linear-gradient(to left, #69bd65, #22ab72);">
        <div class="container">
            <div class="logo">
                <img src="../../../assets/product-details/Group 25999.svg">
            </div>
            <div class="signup">
                <mat-card class="card">
                    <div class="left">
                        <div class="heading">
                            <mat-card-title>To verify your employment we need your school 
                                details below. We will send a 6-digit code to verify.
                            </mat-card-title>
                        </div>
                        <div class="example-container">
                            <mat-form-field class="example-full-width">
                                <mat-label>Search School State</mat-label>
                                <input matInput placeholder="School State"  >
                                <!-- <mat-error *ngIf="firstName.invalid">{{getnameErrorMessage()}}</mat-error>[formControl]="firstName" -->
                                <button mat-icon-button matSuffix>
                                    <mat-icon class="serc">search</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>Search School Name</mat-label>
                                <input matInput placeholder="School Name"  >
                                <!-- <mat-error *ngIf="firstName.invalid">{{getnameErrorMessage()}}</mat-error>[formControl]="firstName" -->
                                <button mat-icon-button matSuffix>
                                    <mat-icon  class="serc">search</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>School Provided Email Address</mat-label>
                                <input matInput placeholder="pat@example.com"  >
                                <!-- <mat-error *ngIf="firstName.invalid">{{getnameErrorMessage()}}</mat-error>[formControl]="firstName" -->
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>Principal First Name</mat-label>
                                <input matInput placeholder="First Name" >
                                <!-- <mat-error *ngIf="firstName.invalid"> [formControl]="firstName"{{getnameErrorMessage()}}</mat-error> -->
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>Principal Last Name</mat-label>
                                <input matInput placeholder="Last Name" >
                                <!-- <mat-error *ngIf="lastName.invalid"> [formControl]="lastName"{{getlastnameErrorMessage()}}</mat-error> -->
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>Principal Email Address</mat-label>
                                <input matInput placeholder="Email Address" >
                            </mat-form-field>
                        </div>
                        <!-- <div class="center">
                            <button mat-raised-button [routerLink]="['/school-verify']" routerLinkActive="router-link-active" class="but">SUBMIT</button>
                        </div> -->
                        <div *ngFor="let btn_info of btn_infos" class="pl-5 pr-5" style="padding-top: 13px;">
                            <app-buttons-btn  [btn_Data] = "btn_info" [routerLink]="['/school-verify']" ></app-buttons-btn>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>    
</div>