.background {
    background: linear-gradient(to left, #69bd65, #22ab72);
    justify-content: center;
    height: 100vh; 
    .logo {
        justify-content: center;
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        img {
            max-width: 200px;
        }
    }
    .signup {
        display: flex;
        justify-content: center;
        .card {
            width: 370px;
            height: 590px;
            margin-bottom:30px ;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

        }
    }
}

.heading{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
}
mat-card-title{
    font-size: 11px;
    font-family: 'Montserrat';
    font-weight: 600;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
}
.but{
    background: linear-gradient(to left, #69BD65, #22AB72);
    border-radius: 30px;
    width: 60%;
    height: 50px;
    color: white;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 0px;
    font-family: 'Montserrat';
  }
  .example-container{
    padding-top: 25px;
    .example-full-width {
        justify-content: center;
        align-items: center;
        width: 85%;
        margin-left: 6%;
        padding: 5px;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat';
        .serc{
            font-size: 20px; 
            color: #989090;
          }
      }
  }