<mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx" class="pt-4 pb-4">
        <button mat-fab class="btn-done">
            <mat-icon>done</mat-icon>
        </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx" class="pt-4 pb-4">
        <span class="title">Congratulations, your order has been processed</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx" class="pt-4 pb-4">
        <span class="subtitle">You’ve earned 3 frizzmo bucks</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx" class="pt-4 pb-4">
        <div class="done-img">
            <img class="img-done" src="../../../../../assets/conform-delivary.png">
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx" class="pt-4 pb-4">
        <button mat-button class="back" routerLink="/market-place">Back To Shopping</button>
    </div>
</mat-card>