<mat-list role="list">
    <mat-list-item role="listitem" class="list" routerLink="/orders" routerLinkActive="active">Your Order</mat-list-item>
    <mat-list-item role="listitem" class="list" routerLink="/address-book" routerLinkActive="active">Address Book</mat-list-item>
    <mat-list-item role="listitem" class="list" routerLink="/account-details" routerLinkActive="active">Account Details</mat-list-item>
    <mat-list-item role="listitem" class="list" routerLink="/card" routerLinkActive="active">Saved card</mat-list-item>
    <mat-list-item role="listitem" class="list" routerLink="/preferences" routerLinkActive="active">Marketing Preferences</mat-list-item>
    <mat-list-item role="listitem" class="list" routerLink="/refer" routerLinkActive="active">Refer a Teacher</mat-list-item>
</mat-list>
