<div class="head">
    <div class="view">
        <span class="title">Transactions</span>
    </div>
</div>
    <div class="view">
        <mat-card class="trs-card">
              <div fxLayout="row wrap" *ngFor="let element of dataSource">
                  <div fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10">
                    <div fxLayoutAlign="center center" class="p-3">
                        <div class="tranbord">
                            <mat-icon class="iconcolor">{{element.icon}}</mat-icon>
                        </div>
                    </div>
                  </div>
                  <div fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
                    <div fxLayoutAlign="start center" class="pt-4">
                        <div>
                            <span class="ordtitle">{{element.name}}</span>
                            <div>
                                <span class="orddata">{{element.date}}</span>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                    <div fxLayoutAlign="end center" class="pt-4">
                        <div>
                            <span [ngClass]="element.succescolor">{{element.price}}</span>
                        </div>
                    </div>
                </div>
              </div>
        </mat-card>
    </div>
