<mat-card style="margin-bottom: 10px;">
    <div>
        <div class="bottom">
            <span class="family title">Price List</span>
        </div>
        <div class="bottom" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <img src="../../../../../assets/amazon.png">
            </div>
            <div>
                <span class="family dec">25 FB</span>
            </div>
        </div>

        <div class="bottoms" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <img src="../../../../../assets/EBay_logo.png">
            </div>
            <div>
                <span class="family dec">22 FB</span>
            </div>
        </div>

        <div class="bottom" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <img src="../../../../../assets/logo.png">
            </div>
            <div>
                <span class="family subtitle">15 FB</span>
            </div>
        </div>
    </div>
</mat-card>