.family{
    font-family: "Montserrat";
}
.title{
    font-size: 18px;
    font-weight: 700;
}
.subtitle{
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat";
}
.dec{
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: #ACA5A5;
    margin-bottom: 10px;
}
img{
    width: 130px;
}
.bottom{
    margin-bottom: 10px;
}
.bottoms{
    margin-bottom: 30px;

}
