.head{
    display: flex;
    flex-wrap: wrap;
}
.view{
    padding-left: 5px;
    padding-right: 5px;
}
.title{
    font-size: large;
    font-weight: 600;
    font-family: "Montserrat";
    margin-top: 10px;
    margin-bottom: 25px;
}
.content{
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px #b3b3b3;
    border: 0px solid #b3b3b3;
}
.margin{
    margin-left: 35px;
    margin-right: 35px;
}
.subtitle{
    font-size: large;
    font-weight: 600;
    font-family: "Montserrat";
    word-wrap: break-word;
    text-align: center;
}
.sub{
    font-size: medium;
    border: 1px solid #D7DBEC;
    font-weight: 600;
    font-family: "Montserrat";
    margin: 15px;
    border-radius: 0px;
}
.inport-icon{
    border: 3px solid #f5ba13;
    background-color: #22a565;
    width: 30px;
    height: 25px;
    color: white;
    margin-left: 10px;
}
.menu_icon{
    border: 2px solid #f5ba13;
    background-color: #22a565;
    width: 25px;
    height: 20px;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 0px !important;
}
.drop-btn{
    border: 1px solid #D7DBEC;
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat";
}
.your-navbar{
    display: block;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    background-color: #fafafa;
    padding: 0px;
}
.mob-cls{
  display: none;
}
.desk-cls{
  display: block;
}
.your-stu{
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat";
}
.your-stus{
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat";
    color: #7E84A3;
}
.search-main{
    font-size: 8px;
  }
  ::ng-deep .mat-form-field-outline-start {
    border-radius: 30px 0 0 30px !important;
    min-width: 30px !important;
  }
  
  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 30px 30px 0 !important;
    min-width: 30px !important;
  }
  .input-font{
    font-size: 11px;
    font-weight: 600;
    font-family: "Montserrat";
  }
  .input-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: #D8D8D8;
  }
  .search-nav{
      background-color: white;
      height: 100px;
  }

  .demo-table {
    width: 100%;
  }
  
  .mat-column-demo-icons {
    width: 32px;
    border-right: 1px solid white ;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat";
    justify-content: center;
  }
  .your-sec-cls{
    font-size: 11px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #7E84A3;
  }
  .mat-column-demo-symbol {
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat";
    justify-content: center;
    color: #000000;
  }
  .mat-column-demo-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #00AA75;
  }
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tab-icon{
    font-size: 25px;
  }
  td.mat-cell{
    border-bottom-style: none;
}

th.mat-header-cell{
    border-bottom-style: none;
}
.btns{
  border: 1px solid #ff9cae;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF0F3D;
  background-color: #fdd4db;
}
.check-stus{
  display: none;
}
.cls-btn{
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #B3B3B3;
}
.cls-btns{
  font-size: 11px;
  font-weight: 600;
  font-family: "Montserrat";
  height: 25px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 3px 5px 0px #b3b3b3;
  align-items: center;
  color: #ffffff;
  border-radius: 30px;
  background: linear-gradient(to left, #69bd65, #22ab72);

}
.cls-btn:active{
  color: #B3B3B3;
}

.cls-btn:focus{
  color: #00AA75;
}

@media only screen and (min-width: 100px) and (max-width: 500px){
    .subtitle{
        font-size: 16px;
    }
    .sub{
        font-size: 14px;
    }
    .your-stus{
      display: none;
    }
    
  .check-stus{
    display: block;
  }
  .check-stu{
    display: none;
  }
}
@media only screen and (min-width: 50px) and (max-width: 959px){
  .mob-cls{
    display: block;
  }
  .desk-cls{
    display: none;
  }
}
@media only screen and (min-width: 50px) and (max-width: 350px){
  .cls-btns{
    font-size: 7px;
  }
}