<div class="container">
    <div class="row">
        <div class="main">
            <div class="center">
                <img class="parents" src="../../../assets/left.png">
            </div>
        </div>
        <div class="mid">
            <div class="center">
                <img class="give" src="../../../assets/give.png">
            </div>  
        </div>
        <div class="submain">
            <div class="center">
                <img class="parents" src="../../../assets/right.png">
            </div>
        </div>
    </div>
    <div class="header">
        <span style="font-size: xx-large; font-family: Montserrat; font-weight: bold; justify-content: center; display: flex;">The Frizzmo Giveback!</span><br>
        <span class="center" style="font-size: 18px; font-weight: 700; font-family: Montserrat; color: #10A975;">Together, we can make a real difference.</span><br>
        <span style="font-size: 15px; font-family: Montserrat; font-weight: 600; justify-content: center; display: flex; text-align: center;">Every year, teachers spend over $1 Billion (out-of-pocket) on school supplies. 
            <br>So, we figured out a way to help. That’s why our families can choose a 
            <br>teacher to receive the spare change from their purchases.</span><br>
        <span class="center" style="font-size: 20px; font-weight: 700; font-family: Montserrat;">Here’s how to join the movement</span>

    </div>
    <div class="center">
        <img class="up" src="../../../assets/up.png">
    </div>
    <div class="row">
        <div style=" width: 33%;">
            <span style="display: flex; justify-content: center; font-family: Montserrat; font-weight: bold; font-size: large;">STEP 1</span><br>
            <span style="display: flex; justify-content: center; text-align: center; font-family: Montserrat; font-weight: 700; font-size: small;">Enroll in Frizzmo and
                <br>enter favorite teachers email.</span>
        </div>
        
        <div style=" width: 33%;">
            <span style="display: flex; justify-content: center; font-family: Montserrat; font-weight: bold; font-size: large;">STEP 2</span><br>
            <span style="display: flex; justify-content: center; text-align: center; font-family: Montserrat; font-weight: 700; font-size: small;">Shop product and services,<br>they alrady purchase.</span>
        </div>
        
        <div style=" width: 34%;">
            <span style="display: flex; justify-content: center; font-family: Montserrat; font-weight: bold; font-size: large;">STEP 3</span><br>
            <span style=" display: flex; justify-content: center; text-align: center; font-family: Montserrat; font-weight: 700; font-size: small;">Teacher automatically receives spare <br>change for classroom supplies.</span>
        </div>
    </div>
    
</div>