<div class="dilog-line">
    <div fxLayout="row" fxLayoutAlign="space-between flex-start">
        <div>
            <span class="dilog-title" mat-dialog-title>Sort by:</span>
        </div>
        <div>
            <mat-icon class="dilog-icon" mat-dialog-close>clear</mat-icon>
        </div>
    </div>
</div>

<div>
    <mat-nav-list>
    <div class="dilog-line">
        <a mat-list-item>
            <span class="dilog-subtitle" mat-line>Popular</span>
        </a>
    </div>
    
    <div class="dilog-line">
        <a mat-list-item>
            <span class="dilog-subtitle" mat-line>Price</span>
        </a>
    </div>

    <div class="dilog-line">
        <a mat-list-item>
            <span class="dilog-subtitle" mat-line>Reviews</span>
        </a> 
    </div>

    <div class="dilog-line">
        <a mat-list-item>
            <span class="dilog-subtitle" mat-line>Discount</span>
        </a>
    </div>

    <div class="dilog-line">
        <a mat-list-item>
            <span class="dilog-subtitle" mat-line>New</span>
        </a>
    </div>
    </mat-nav-list> 
</div>
    
