.dilog-title{
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    color: #808080;
}
.dilog-subtitle{
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat";
}
.dilog-icon{
    font-size: 30px;
}
.dilog-line{
    border-bottom: 1px solid #F5F5F5;
}