<mat-card style="margin-bottom: 10px;">
    <div>
        <div style="margin-bottom: 15px;">
            <span class="title">
                Options
            </span>
        </div>

        <div style="margin-bottom: 15px;">
            <span class="subtitle">
                Colour: <span style="color: #B3B3B3;">Pink</span>
            </span>
        </div>

        <div fxLayout="row wrap">
            <div fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="38" fxFlex.xl="38" class="p-0">
                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/1.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/2.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/3.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/4.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/5.png" class="img-color">
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="62" fxFlex.xl="62">
                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/6.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/7.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/8.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/9.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/10.png" class="img-color">
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="row wrap">
            <div fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="38" fxFlex.xl="38">
                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/1.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/2.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/3.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/4.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/5.png" class="img-color">
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="62" fxFlex.xl="62">
                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/6.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/7.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/8.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/9.png" class="img-color">
                    </div>
                </div>

                <div class="space">
                    <div class="select-img">
                        <img src="../../../../../assets/product-details/10.png" class="img-color">
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>