<div>
    <div class="border-bottom">
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="gappx">
            <div class="p-2">
                <span class="addres-title">Add a New Card</span>
            </div>
    
            <div class="p-2">
                <mat-icon mat-dialog-close>close</mat-icon>
            </div>
        </div>
    </div>

    <!-- <div class="p-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>Address Line 1*</mat-label>
                        <input matInput placeholder="Enter">
                    </mat-form-field> 
                </div>

                <div class="p-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Enter">
                    </mat-form-field> 
                </div> -->
    <div>
        <div fxLayout="row wrwp">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                <div class="p-3">
                    <mat-form-field class="example-full-width">
                        <mat-label  class="pl-1">Credit Card</mat-label>
                        <input class="pad-input" matInput placeholder="Card Number">
                        <mat-icon matPrefix class="car-icon p-0">credit_card</mat-icon>
                    </mat-form-field> 
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                <div class="p-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>EXP Date</mat-label>
                        <input class="pad-input" matInput placeholder="MM/YYYY">
                    </mat-form-field> 
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="34" fxFlex.lg="34" fxFlex.xl="34">
                <div class="p-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>CVV</mat-label>
                        <input class="pad-input" matInput placeholder="XXX">
                    </mat-form-field> 
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="p-3">
            <mat-form-field class="example-full-width">
                <mat-label>Name on card*</mat-label>
                <input matInput placeholder="Enter">
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="gappx">
        <div class="pad-btn">
            <button mat-button class="address-btn">Add Now</button>
        </div>
    </div>
</div>

