<div class="container">
    <div class="row">
        <div class="submain">
            <div>
                <span class="title">Frizzmo for Kids</span>
            </div><br>
            <div>
                <span class="subtitle">Earn, Save, Spend, and Give back. </span>
            </div><br>
            <div>
                <span class="dec">Kids as young as 8 years old can use the app to 
                    have more control over their spending, earn money 
                    through an allowance, and complete financial 
                    literacy games.  Kids give back to their favorite 
                    teacher through the roundup feature.</span>
            </div>
            <div>
                <button mat-raised-button [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >GET STARTED</button>
            </div>
        </div>
        <div class="main" style="width: 570px; justify-content: center; display: flex; align-items: center;" >
            <img class="parents" src="../../../assets/kids.png">
        </div>
    </div>
</div>