<div class="container">
    <div class="row">
        <div class="main" style="width: 570px; justify-content: center; display: flex; align-items: center;" >
            <img class="parents" src="../../../assets/teacher.png">
        </div>
        <div class="submain">
            <div>
                <span class="title">Frizzmo for Teachers</span>
            </div><br>
            <div>
                <span class="subtitle">Let your educators know you care.</span>
            </div><br>
            <div>
                <span class="dec">Teachers benefit from the app when their community of prarents and kids spend and give back through the app. Consider signing up to start receiving the giveback when we launch.</span>
            </div>
            <div>
                <button mat-raised-button [routerLink]="['/auth']" routerLinkActive="router-link-active" >SIGN UP</button>
            </div>
        </div>
    </div>
</div>