<mat-card class="book-address p-3" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="gappx">
    <div fxLayout="row" fxLayoutAlign="end start">
        <div class="crd-bord">
            <img class="card-img" src="../../../../assets/Group 18177.png">
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
            <mat-icon class="dot">fiber_manual_record</mat-icon>
            <mat-icon class="dot">fiber_manual_record</mat-icon>
            <mat-icon class="dot">fiber_manual_record</mat-icon>
            <mat-icon class="dots">fiber_manual_record</mat-icon>

            <mat-icon class="dot">fiber_manual_record</mat-icon>
            <mat-icon class="dot">fiber_manual_record</mat-icon>
            <mat-icon class="dot">fiber_manual_record</mat-icon>
            <mat-icon class="dots">fiber_manual_record</mat-icon>
            <!-- <mat-icon class="dot" fxHide.xs fxShow.lg fxShow.sm fxHide.md fxShow.xl>fiber_manual_record</mat-icon>
            <mat-icon class="dot" fxHide.xs fxShow.lg fxShow.sm fxHide.md fxShow.xl>fiber_manual_record</mat-icon>
            <mat-icon class="dot" fxHide.xs fxShow.lg fxShow.sm fxHide.md fxShow.xl>fiber_manual_record</mat-icon> -->
            <mat-icon class="dot">fiber_manual_record</mat-icon>
            <mat-icon class="dot">fiber_manual_record</mat-icon>
            <mat-icon class="dot">fiber_manual_record</mat-icon>
            <mat-icon class="dots">fiber_manual_record</mat-icon>
            <span class="order-subtitle">4545</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <div>
                <span class="book-addrs-font font-color">Expiry Date</span>
            </div>
            <div>
                <span class="book-addrs-font">01/ 2025</span>
            </div>
        </div>

        <div>
            <a (click)="openDialog()"  class="book-addrs-font">Delete</a>                                            
        </div>
    </div>
</mat-card>